#main {
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(237, 235, 235, 0.9);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(97, 91, 82);
}
@media (max-width: 500px) {
    #title {
    font-size: 3.3rem;
    font-family: sans-serif;
    }
}
div.one{
    text-align: justify;
    padding-right: 7%;
}
.configuration-title {
    background-color: #505160;
    color: hsl(42, 100%, 98%);
    border-radius: 6px;
}
#title-biography {
    color: rgb(82, 74, 61);
    font-style: oblique;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(165, 173, 196, 0.464);
}

#img-div {
    margin: auto;
}

.one {
    line-height: 25px;
}
